NODE_ENV=development
PORT=3000
JWT_SECRET=yout-jwt-secret
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=cloud-name-anda
CLOUDINARY_API_KEY=api-key-anda
CLOUDINARY_API_SECRET=api-secret-anda

DATABASE_URL=your-database-url

SEED_ADMIN_EMAIL="admin@dailygreens.local"
SEED_ADMIN_PASSWORD="Admin@12345"
SEED_CUSTOMER_EMAIL="customer@dailygreens.local"
SEED_CUSTOMER_PASSWORD="Customer@12345"
